html,
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.print-source {
    display: none;
    padding: 60px;
}

body > .print-source {
    display: block;
}

@media print {
    .print-source {
        display: block;
    }
}

#outer-circle {
    left: 45%;
    bottom: -80 !important;
    height: 75px;
    width: 75px;
    background-color: rgba(78, 78, 78, 0.725) !important;
    z-index: 10000;
}
#inner-circle,
#outer-circle {
    position: absolute;
    border-radius: 50%;
}
#inner-circle {
    left: 50%;
    top: 38px;
    height: 44px;
    width: 44px;
    background: #fff;
    margin: -22px 0 0 -22px;
    z-index: 2;
}
#inner-circle.is-clicked {
    height: 38px;
    width: 38px;
    margin: -19px 0 0 -19px;
}
#white-flash.normal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.9s ease-out;
    -o-transition: opacity 0.9s ease-out;
    transition: opacity 0.9s ease-out;
}
#white-flash.do-transition {
    opacity: 0;
    background: #fff;
}
#display-error {
    color: #000;
    background-color: #fff;
}
.react-html5-camera-photo {
    position: relative;
    text-align: center;
}
.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
    width: 768px;
}
.react-html5-camera-photo > .display-error {
    width: 768px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .react-html5-camera-photo > .display-error,
    .react-html5-camera-photo > img,
    .react-html5-camera-photo > video {
        width: 100%;
    }
}
.react-html5-camera-photo-fullscreen > img,
.react-html5-camera-photo-fullscreen > video {
    width: 100vw;
    height: 100vh;
}
.react-html5-camera-photo-fullscreen > video {
    -o-object-fit: fill;
    object-fit: fill;
}
.react-html5-camera-photo-fullscreen > .display-error {
    width: 100vw;
    height: 100vh;
}

@media screen {
    .print {
        /* visibility: hidden; */
        /* height: 0; */
        display: none;
    }
}

.css-1etmnd3 {
    padding: 0px !important;
  }
  
  .css-1etmnd3 .rw-container-main { 
    width: 400px !important;
  }
  
  .css-1etmnd3 .rw-container-left {
    padding: 0px !important;
    padding-left: 10px !important;
  }
  
  .css-w3t7ie .rw-today-current{
    font-size: 25px !important;
  }
  .css-1etmnd3 .rw-container-header{
    margin :0px !important;
    margin-top: 5px !important;
    font-size: 20px !important;
  }
  
  .css-w3t7ie .rw-today-hr{
    margin: 0px !important;
  }
